
@{
    ViewBag.Title = "Themes";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">THEMES</h1>

<div>
    <h3>NEWS</h3>
    <hr />
    <ul>
        <li><a class="link__default" href="/Admin/NewCatalog/Index">CATALOG</a></li>
        <li><a class="link__default" href="/Admin/NewContent/Index">CONTENT</a></li>
    </ul>
</div>
