
@{
    ViewBag.Title = "Payment Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="PaymentInfo" class="pt-3 text-dark" style="margin-top:90px;min-height:97vh;">
    <div class="card-group mx-4" id="CardInfo">
        <div class="card border-0 mx-2 bg-main-color  text-pink-5">
            <img class="card-img-top" src="~/Content/img/9cf9501bf30710594916.jpg" alt="Card image cap">
            <div class="card-body">

                <p class="card-text">
                    Account Number:<br /> <b>060150334759 </b><br />
                    Account Name:<br />
                    <b>
                        NGOC QUYEN MANAGEMENT<br />
                        CONSULTING CO.,LTD
                    </b><br />
                    Branch: Phu My Hung Ward, D7
                </p>
            </div>
            <div class="card-footer text-right">
                <strong>10% VAT</strong>
            </div>
        </div>

        <div class="card border-0 mx-2 bg-main-color  text-pink-5">
            <img class="card-img-top" src="~/Content/img/e1932071836d6033397c.jpg" alt="Card image cap">
            <div class="card-body">

                <p class="card-text">

                    Account Number:<br /><b> 19030401625027</b><br />
                    Account Name:<br />
                    <b>NGUYEN THI NGOC QUYEN</b><br />
                    Branch: Hoang Van Thai Ward, D7
                </p>
            </div>
            <div class="card-footer text-right">
                <strong>No VAT</strong>
            </div>
        </div>
        <div class="w-100 d-block d-lg-none my-2"></div>
        <div class="card border-0 mx-2 bg-main-color  text-pink-5">
            <img class="card-img-top" src="~/Content/img/7bfdbb1f1803fb5da212.jpg" alt="Card image cap">
            <div class="card-body">

                <p class="card-text">
                    Account Number:<br /><b>
                        01928603601
                    </b> <br />
                    Account Name:<br />
                    <b>
                        NGUYEN THI NGOC QUYEN
                    </b><br />
                    Branch: Phu My Hung Ward, D7
                </p>
            </div>
            <div class="card-footer text-right">
                <strong>No VAT</strong>
            </div>
        </div>
        <div class="card border-0 mx-2 bg-main-color  text-pink-5">
            <img class="card-img-top" src="~/Content/img/25b5e8574b4ba815f15a.jpg" alt="Card image cap">
            <div class="card-body">

                <p class="card-text">
                    Account Number:<br /><b> 0109011522 </b><br />
                    Account Name:<br />
                    <b> NGUYEN THI NGOC QUYEN</b><br />
                    Branch: Phu My Hung Ward, D7
                </p>
            </div>
            <div class="card-footer text-right">
                <strong>No VAT</strong>
            </div>
        </div>
        <div class="w-100 d-block d-lg-none my-2"></div>
        <div class="card border-0 mx-2 bg-main-color  text-pink-5">
            <img class="card-img-top" src="~/Content/img/6ad1a133022fe171b83e.jpg" alt="Card image cap">
            <div class="card-body">

                <p class="card-text">
                    Account Number:<br /> <b>11910000334305</b><br />
                    Account Name:<br />
                    <b>  NGUYEN THI NGOC QUYEN</b><br />
                    Branch: Phu My Hung Ward, D7
                </p>
            </div>
            <div class="card-footer text-right">
                <strong>No VAT</strong>
            </div>
        </div>

    </div>

    <button class="btn btn-light  my-5 mx-auto d-block py-3" style="width:150px;" type="button">
        <b>Pay Now!</b>
    </button>
</section>


