
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section style="padding-top:90px;" id="AboutUs">
    <h1>ABOUT US</h1>
    <p>
        "We have experience work with Japanese and Korean which is recognized as a prestigious company that specializes in application for Vietnam visas on behalf of expats in Vietnam. With professional consultants from consultancy, providing quotations to delivery of visas, we’ve satisfied even highly demanding customers and been trusted by thousands of customers. Yuri Visa is a provider professional of package services for Vietnamese and foreigners in Ho Chi Minh City and Hanoi..."
    </p>
    <h5>What are Competitive Advantages of YURIVISA in providing visa application service?</h5>
    <p>1 - Offering free consultancy related to current provisions of Vietnam Law on Immigration for expats applying for Vietnam visas.</p>
    <p>2 -  For applicants who want to obtain visas to travel overseas, we will inform you of necessary documents and share how to obtain visas.</p>
    <p>3 -  Providing consultancy so that customers can choose suitabre solutions at lowest cost and fast processing time during applying for issuance and extension of visas.</p>
    <p>1 - Offering free consultancy related to current provisions of Vietnam Law on Immigration for expats applying for Vietnam visas.</p>
    <p>2 -  For applicants who want to obtain visas to travel overseas, we will inform you of necessary documents and share how to obtain visas.</p>
    <p>3 -  Providing consultancy so that customers can choose suitabre solutions at lowest cost and fast processing time during applying for issuance and extension of visas.</p>
</section>

<section class="pb-3 text-white" >
   
    <h2 class="font__UTM--bold text-center">
        

    </h2>
    <div class="py-5 px-5 my-5 text-dark" style="background:url(/Content/img/seychelles-4245171_640.jpg) center no-repeat;background-size:cover;background-attachment:fixed">
        <div class="flex-md-row flex-column d-flex">
            <div class="circle__group animation-element  slide-bottom pb-4">
                <p class="circle__number  w__md--50 w__lg--100 h__md--50  h__lg--100  br__md--15 br__lg--20">1</p>
                <p class="circle__body w--70vw w__md--30vw"> </p>

            </div>
            <div class="mr-auto mr-md-0 ml-md-auto circle__group  animation-element  slide-bottom  pb-4 ">
                <p class="circle__number w__md--50 w__lg--100 h__md--50  h__lg--100  br__md--15 br__lg--20">2</p>
                <p class="circle__body w--70vw w__md--30vw"></p>


            </div>
        </div>
        <div class="mr-auto  circle__group mx-auto justify-content-start justify-content-md-center animation-element  slide-bottom pb-4 ">
            <p class="circle__number w__md--50 w__lg--100 h__md--50  h__lg--100  br__md--15 br__lg--20">3</p>
            <p class="circle__body w--70vw w__md--30vw"> </p>
        </div>
        <div class="d-flex flex-md-row flex-column">
            <div class="circle__group animation-element  slide-bottom pb-4 ">
                <p class="circle__number w__md--50 w__lg--100 h__md--50  h__lg--100  br__md--15 br__lg--20">4</p>
                <p class="circle__body w--70vw w__md--30vw"> Having ability to handle ‘difficult’ cases, cases with insufficient documents, expats staying in Vietnam for longer than their visas’ validity period, URGENT entry visas at airports.</p>


            </div>

            <div class="ml-auto circle__group animation-element  slide-bottom pb-4 ">
                <p class="circle__number w__md--50 w__lg--100 h__md--50  h__lg--100  br__md--15 br__lg--20">5</p>
                <p class="circle__body w--70vw w__md--30vw">  Service fees in connection with entry and exit visas application are lower than those charged by other companies thanks to our good relationships with competent State agencies.</p>

            </div>
        </div>

        <p>
            With our high-quality services, lowest service fee in the market and fast processing time, our visa application service will definitely satisfy you.
        </p>
    </div>



    </div>
    <div class="my-4">
        <h2 class="text-center  my-5 animation-element slide-bottom">Why do you choose us</h2>
        <div class="card-deck mx-0 px-4 p-lg-3 text-dark">
            <div class="card card__new mb-5 mb-lg-0">
                @*<i class="fas fa-headset fa-4x"></i>*@
                <h5 class="card-title"> CONSULTANCY & QUOTE</h5>
                <div class="card-body animation-element slide-bottom">
                    <p class="card-text">We offer consultancy and quotation based on certain cases</p>
                </div>
            </div>
            <div class=" d-md-block d-lg-none w--100vw" style="height:5px;"></div>
            <div class="card card__new mb-5 mb-lg-0">
                @*<i class="fas fa-file fa-4x"></i>*@
                <h5 class="card-title">PREPARATION OF DOCUMENTS</h5>
                <div class="card-body animation-element slide-bottom">
                    <p class="card-text">Prepare required documents. Then submit them to customer for signing and stamping</p>
                </div>
            </div>
            <div class=" d-md-block d-lg-none w--100vw" style="height:5px;"></div>
            <div class="card card__new mb-5 mb-lg-0">
                @*<i class="fas fa-address-card fa-4x"></i>*@
                <h5 class="card-title">  SUBMIT DOCUMENTS</h5>
                <div class="card-body animation-element slide-bottom">
                    <p class="card-text">Submit documents to competent State agenciess</p>
                </div>
            </div>
            <div class=" d-md-block d-lg-none w--100vw" style="height:5px;"></div>
            <div class="card card__new ">
                @*<i class="fab fa-cc-visa fa-4x "></i>*@
                <h5 class="card-title"> RECEIVE VISA & TRC</h5>
                <div class="card-body animation-element slide-bottom">
                    <p class="card-text">Door-to-door delivery of documents</p>
                </div>
            </div>
        </div>
    </div>
   
</section>
<div class="col-md-12 " style="height:50vh;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d980.0074602362374!2d106.62713582918249!3d10.732181817168799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ffea7cbfc59%3A0x1b9b482055055371!2sNgoc+Quyen+Management+Consulting+Company+Limited!5e0!3m2!1svi!2s!4v1545104897769" width="100%" height="100%" frameborder="0" style="border:1px solid black;" allowfullscreen></iframe>
</div>